In [1]:
import numpy as np
import pandas as pd
import mglearn as ml
import matplotlib.pyplot as plt

In [3]:
x, y = ml.datasets.make_forge()
x = pd.DataFrame(x, columns=['First feature', 'Second feature'])
df = x.copy()
df['Class'] = y

/Users/stevehu/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:85: DeprecationWarning: Function make_blobs is deprecated; Please import make_blobs directly from scikit-learn
  warnings.warn(msg, category=DeprecationWarning)

In [4]:
df.head()

   First feature  Second feature  Class
0       9.963466        4.596765      1
1      11.032954       -0.168167      0
2      11.541558        5.211161      1
3       8.692890        1.543220      0
4       8.106227        4.286960      0

In [5]:
### try to plot the data: dot plot